{% extends 'base.html' %}

{% block content %}
    <br>
    <div class="container">
        <br><br>
            {% for blog in posts %} 
            <h1>Title : {{blog.title}}</h1>  
            <p>Date : {{blog.pub_date}}</p>
            <p>Context : {{blog.summary}}<a href = "{% url 'detail' blog.id %}">...more</a></p>
            <br><br>
        {% endfor %}
        <br>
        <br>
        <div class="btn-group" role="group" aria-label="Basic example" style="text-align:center">
            {% if posts.has_previous %}
            <button type="button" class="btn btn-secondary" onclick="location.href='?page=1'">First</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='?page={{ posts.previous_page_number}}'">Previous</button>
            {% endif %}

            <button type="button" class="btn btn-secondary">{{ posts.number }} of {{ posts.paginator.num_pages }}</button>

            {% if posts.has_next %}
            <button type="button" class="btn btn-secondary" onclick="location.href='?page={{ posts.next_page_number }}'">Next</button>
            <button type="button" class="btn btn-secondary" onclick="location.href='?page={{ posts.paginator.num_pages}}'">Last</button>
            {% endif %}
        </div>
    
    </div>
{% endblock %}


